/* Skiff Sans Display */
@font-face {
  font-family: 'Skiff Sans Display';
  src: url('./Skiff-Sans-Display-380.woff2') format('woff2');
  font-weight: 380;
  font-display: swap;
  -webkit-font-smoothing: antialiased;
}
@font-face {
  font-family: 'Skiff Sans Display';
  src: url('./Skiff-Sans-Display-380Italic.woff2') format('woff2');
  font-weight: 380;
  font-style: italic;
  font-display: swap;
  -webkit-font-smoothing: antialiased;
}
@font-face {
  font-family: 'Skiff Sans Display';
  src: url('./Skiff-Sans-Display-470.woff2') format('woff2');
  font-weight: 470;
  font-display: swap;
  -webkit-font-smoothing: antialiased;
}
@font-face {
  font-family: 'Skiff Sans Display';
  src: url('./Skiff-Sans-Display-470Italic.woff2') format('woff2');
  font-weight: 470;
  font-style: italic;
  font-display: swap;
  -webkit-font-smoothing: antialiased;
}
@font-face {
  font-family: 'Skiff Sans Display';
  src: url('./Skiff-Sans-Display-560.woff2') format('woff2');
  font-weight: 560;
  font-display: swap;
  -webkit-font-smoothing: antialiased;
}
@font-face {
  font-family: 'Skiff Sans Display';
  src: url('./Skiff-Sans-Display-560Italic.woff2') format('woff2');
  font-weight: 560;
  font-style: italic;
  font-display: swap;
  -webkit-font-smoothing: antialiased;
}

/* Skiff Sans Text */
@font-face {
  font-family: 'Skiff Sans Text';
  src: url('./Skiff-Sans-Text-380.woff2') format('woff2');
  font-weight: 380;
  font-display: swap;
  -webkit-font-smoothing: antialiased;
}
@font-face {
  font-family: 'Skiff Sans Text';
  src: url('./Skiff-Sans-Text-380Italic.woff2') format('woff2');
  font-weight: 380;
  font-style: italic;
  font-display: swap;
  -webkit-font-smoothing: antialiased;
}
@font-face {
  font-family: 'Skiff Sans Text';
  src: url('./Skiff-Sans-Text-470.woff2') format('woff2');
  font-weight: 470;
  font-display: swap;
  -webkit-font-smoothing: antialiased;
}
@font-face {
  font-family: 'Skiff Sans Text';
  src: url('./Skiff-Sans-Text-470Italic.woff2') format('woff2');
  font-weight: 470;
  font-style: italic;
  font-display: swap;
  -webkit-font-smoothing: antialiased;
}
@font-face {
  font-family: 'Skiff Sans Text';
  src: url('./Skiff-Sans-Text-560.woff2') format('woff2');
  font-weight: 560;
  font-display: swap;
  -webkit-font-smoothing: antialiased;
}
@font-face {
  font-family: 'Skiff Sans Text';
  src: url('./Skiff-Sans-Text-560Italic.woff2') format('woff2');
  font-weight: 560;
  font-style: italic;
  font-display: swap;
  -webkit-font-smoothing: antialiased;
}

/* Skiff Mono */
@font-face {
  font-family: 'Skiff Mono';
  src: url('./Skiff-Mono-Regular.woff2') format('woff2');
  font-weight: 380;
  font-display: swap;
  -webkit-font-smoothing: antialiased;
}
@font-face {
  font-family: 'Skiff Mono';
  src: url('./Skiff-Mono-RegularItalic.woff2') format('woff2');
  font-weight: 380;
  font-style: italic;
  font-display: swap;
  -webkit-font-smoothing: antialiased;
}
@font-face {
  font-family: 'Skiff Mono';
  src: url('./Skiff-Mono-Medium.woff2') format('woff2');
  font-weight: 470;
  font-display: swap;
  -webkit-font-smoothing: antialiased;
}
@font-face {
  font-family: 'Skiff Mono';
  src: url('./Skiff-Mono-MediumItalic.woff2') format('woff2');
  font-weight: 470;
  font-style: italic;
  font-display: swap;
  -webkit-font-smoothing: antialiased;
}
@font-face {
  font-family: 'Skiff Mono';
  src: url('./Skiff-Mono-Bold.woff2') format('woff2');
  font-weight: 560;
  font-display: swap;
  -webkit-font-smoothing: antialiased;
}
@font-face {
  font-family: 'Skiff Mono';
  src: url('./Skiff-Mono-BoldItalic.woff2') format('woff2');
  font-weight: 560;
  font-style: italic;
  font-display: swap;
  -webkit-font-smoothing: antialiased;
}
